<h1>To Reset Password Reset The Below Link</h1>

<%=  edit_passwordreset_url(@user.reset_token, email: @user.email )%>

<p>This Link Is Temporary</p>

<p>If Your Dont Request To This Actionو Ignore This Email.</p>