   <div class="container right">  
    <br/>
    <%= link_to 'Hello', help_path, class: 'btn btn-success' %>
    <%= link_to 'About', about_path, class: 'btn btn-primary' %>
    <%= link_to 'Home', root_path, class: 'btn btn-warning' %>
    <%= link_to "For  Google Services Visit From This Link", root_path, class: 'btn btn-danger left' %>
   </div>
   <br/>